<div class="group-option" data-group-id="<%= group.id %>" data-group-name="<%= group.name.downcase %>" title="<%= group.full_path %>">
  <div class="flex items-center group-item" style="padding-left: <%= (level * 1.5 + 0.75) %>rem; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-right: 0.75rem;">
    <% if group.children.any? %>
      <button type="button"
              data-action="click->group-selector#toggleExpand"
              class="btn btn--plain btn--sm p-1 mr-1"
              aria-label="Toggle expand">
        <%= icon "chevron-down", class: "icon icon--sm" %>
      </button>
    <% else %>
      <span class="mr-1 w-5 inline-block"></span>
    <% end %>

    <label class="flex items-center flex-1 cursor-pointer">
      <input type="checkbox"
             name="workflow[group_ids][]"
             value="<%= group.id %>"
             data-group-selector-target="checkbox"
             data-action="change->group-selector#select"
             <%= 'checked' if selected_ids.include?(group.id) %>
             class="form-checkbox">
      <span class="ml-2 text-sm flex-1">
        <%= group.name %>
        <% if group.description.present? %>
          <span class="form-hint block mt-0.5"> - <%= truncate(group.description, length: 50) %></span>
        <% end %>
      </span>
    </label>
  </div>

  <% if group.children.any? %>
    <div class="children ml-4 border-l-2 pl-2" data-group-id="<%= group.id %>">
      <% group.children.order(:position, :name).each do |child| %>
        <%= render partial: "workflows/group_option", locals: { group: child, level: level + 1, selected_ids: selected_ids } %>
      <% end %>
    </div>
  <% end %>
</div>
