<% location ||= "default" %>
<div id="pin-<%= location %>-<%= workflow.id %>">
  <% if pinned %>
    <%= button_to workflow_pin_path(workflow), method: :delete,
          class: "btn btn--plain btn--sm pin-button is-pinned",
          data: { turbo_stream: true },
          aria: { label: "Unpin #{workflow.title}" } do %>
      <%= icon "bookmark", class: "icon icon--sm" %>
    <% end %>
  <% else %>
    <%= button_to workflow_pin_path(workflow), method: :post,
          class: "btn btn--plain btn--sm pin-button",
          data: { turbo_stream: true },
          aria: { label: "Pin #{workflow.title}" } do %>
      <%= icon "bookmark", class: "icon icon--sm" %>
    <% end %>
  <% end %>
</div>
