<!-- Card Partial -->
<%
  card_classes = "card animate-fade-in-up"
  card_classes += " #{local_assigns[:class]}" if local_assigns[:class]
%>

<div class="<%= card_classes %>" <%= "data-controller='#{local_assigns[:controller]}'" if local_assigns[:controller] %>>
  <% if local_assigns[:title] || local_assigns[:icon] %>
    <div class="card__header">
      <% if local_assigns[:icon] %>
        <div class="flex-shrink-0 mr-3">
          <%= sanitize_svg(icon) %>
        </div>
      <% end %>
      <% if local_assigns[:title] %>
        <h3 class="font-bold">
          <%= title %>
        </h3>
      <% end %>
    </div>
  <% end %>

  <div class="card__body <%= local_assigns[:content_class] || '' %>">
    <%= local_assigns[:content] if local_assigns[:content] %>
  </div>

  <% if local_assigns[:footer] %>
    <div class="card__footer">
      <%= footer %>
    </div>
  <% end %>
</div>
