<% if object.errors.any? %>
  <div class="<%= local_assigns[:container_class] || 'mb-6' %> flash flash--alert"
       <%= "data-#{local_assigns[:data_controller_target]}=\"errorContainer\"".html_safe if local_assigns[:data_controller_target] %>>
    <div class="flash__body">
      <div class="flash__text">
        <strong><%= pluralize(object.errors.count, "error") %> prohibited this <%= object.model_name.human.downcase %> from being saved:</strong>
        <ul class="mt-1 pl-5 list-disc">
          <% object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
