<%# Navigation section (all roles) %>
<div class="popup__section">
  <div class="popup__section-title">Navigation</div>
  <%= link_to root_path, class: "popup__item", data: { turbo_frame: "_top" } do %>
    <%= icon "home", class: "icon icon--sm" %>
    Home
  <% end %>
  <%= link_to workflows_path, class: "popup__item", data: { turbo_frame: "_top" } do %>
    <%= icon "bars-3-bottom-left", class: "icon icon--sm" %>
    Workflows
  <% end %>
</div>

<%# Actions section (editors and admins) %>
<% if current_user.can_create_workflows? %>
  <div class="popup__divider"></div>
  <div class="popup__section">
    <div class="popup__section-title">Actions</div>
    <%= link_to new_workflow_path, class: "popup__item", data: { turbo_frame: "_top" } do %>
      <%= icon "plus", class: "icon icon--sm" %>
      New Workflow
    <% end %>
  </div>
<% end %>

<%# Admin section (admins only) %>
<% if current_user.can_access_admin? %>
  <div class="popup__divider"></div>
  <div class="popup__section">
    <div class="popup__section-title">Admin</div>
    <%= link_to admin_users_path, class: "popup__item", data: { turbo_frame: "_top" } do %>
      <%= icon "user-group", class: "icon icon--sm" %>
      Users
    <% end %>
    <%= link_to admin_workflows_path, class: "popup__item", data: { turbo_frame: "_top" } do %>
      <%= icon "trash", class: "icon icon--sm" %>
      Manage Workflows
    <% end %>
    <%= link_to admin_groups_path, class: "popup__item", data: { turbo_frame: "_top" } do %>
      <%= icon "users", class: "icon icon--sm" %>
      Groups
    <% end %>
    <%= link_to admin_analytics_path, class: "popup__item", data: { turbo_frame: "_top" } do %>
      <%= icon "chart-bar", class: "icon icon--sm" %>
      Analytics
    <% end %>
    <%= link_to admin_data_health_path, class: "popup__item", data: { turbo_frame: "_top" } do %>
      <%= icon "circle-stack", class: "icon icon--sm" %>
      Data Health
    <% end %>
  </div>
<% end %>
